@tailwind base;
@tailwind components;
@tailwind utilities;

.no-scrollbar::-webkit-scrollbar-thumb {
    background-color: #FFCC00;
    border-radius: 999px;
    width: 10px;
}

.no-scrollbar::-webkit-scrollbar {
    background-color: blue;
    width: 10px;
    height: 0.2rem;
}

.no-scrollbar::-webkit-scrollbar-track {
    background-color: gray;

}


/* 
.no-scrollbar::-webkit-scrollbar-w {
    background-color: gray;

} */
body::-webkit-scrollbar-thumb {
    background-color: #ebbc00;
    /* border-radius: 40%; */
    box-shadow: inset 3px 3px 3px #ffe789;
    border: 20px;
}

body::-webkit-scrollbar {
    background-color: rgb(43, 43, 43);
    width: 10px;
}