---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.svelte";
---

<Layout title="Blogs">
    <Header />
    <div class="h-screen relative text-primary text-center w-full">
        <div
            class="absolute md:w-max top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2"
        >
            <h1 class="text-6xl text-[#d7d7d7] md:text-8xl">
                We are Coming Soon...
            </h1>
            <h2 class="text-3xl md:text-5xl">with exciting Blogs n News 😊</h2>
        </div>
    </div>
</Layout>
