<div class="text-white" id="about">
    <p
        class="bg-bg text-center text-primary px-5 font-semibold md:text-4xl my-10 p-2 text-xl"
    >
        About Us
    </p>
    <p
        class="md:text-lg text-base tracking-wider p-2 md:w-[70%] w-[95%] m-auto"
    >
        At <b class="text-primary text-2xl">M</b>ist <b
            class="text-primary text-2xl">M</b
        >edia <b class="text-primary text-2xl">M</b>arketing, our track record
        speaks for itself:<br /> With over <u class="text-primary text-xl">
            7 years of experience</u
        >, we've delighted over <b class="text-primary text-2xl">50 clients</b> and
        counting.... <br /> Renowned for crafting compelling content that drives
        millions of views and leads, we specialize in tailoring each piece to our
        clients' unique vibe and audience. Our approach combines authenticity with
        innovation, consistently delivering measurable outcomes. By infusing joy
        and dynamism into digital storytelling, we transform every project into an
        opportunity to inject vitality and relevance into today's digital landscape.
        We excel in effective <u class="text-primary text-xl"
            >Social Media and Marketing strategies, enhancing Brand Awareness
            and Online Communications.</u
        > Utilizing metrics, we refine digital marketing campaigns to guide teams
        toward achieving their online presence goals. <br />
        <!-- <ul class="text-xl tracking-wider p-2 w-[70%] m-auto text-justify">
            <b class="text-primary text-2xl">
                Our clientes includes esteemed brands such as:-
            </b>
            <li>Sayaji Hotels Indore,</li><li>Radisson,</li>
            <li>Marriott,</li>
            <li>IBIS STYLES,</li>
            <li>Crown Plaza Jaipuria Group of Institutions,</li>
            <li>Swiggy,</li>
            <li>Joie Learning,</li>
            <li>Key Elements,</li>
            <li>Rely,</li>
            <li>Bhanu's,</li>
            <li>Cafe at Ease,</li>
            <li>Urban Theka,</li>
            <li>Ramashray,</li>
            <li>and many others...</li>
        </ul> -->
    </p>
</div>
<style>
    li {
        text-decoration: underline rgb(255, 204, 0, 0.5);
        list-style: disc;
        @apply text-2xl;
    }
</style>
