---
import cta from "../assets/main/logo_black.png";
import gif from "../assets/main/mainBg.gif";
import { Image } from "astro:assets";
---

<div
    class="md:h-[100vh] h-[70vh] w-auto items-start flex flex-col justify-between md:items-center relative"
>
    <Image
        src={cta}
        alt="Main image"
        srcset="Main image"
        class="md:w-[60vw] w-[70vw] flex m-auto mt-60"
        id="logo"
    />
    <p
        class="text-sm mx-2 md:text-xl text-center md:mx-[15%] m-auto font-semibold tracking-[0.15rem] text-white"
    >
        Focus on what you do best leave your marketing to us. <br /> One stop solution
        for all your marketing needs !
    </p>

    <!-- <h1 class="text-[200px] text-center mt-10 text-white">MIST</h1> -->

    <div class="bg absolute -z-10">
        <!-- <video
            src="/mainBg.mp4"
            autoplay="true"
            loop="true"
            muted
            class="opacity-40 h-screen"
            playsinline="true"
        >
        </video> -->
        <Image
            src={gif}
            alt=" "
            class="opacity-40 h-[60vh] md:h-auto md:w-screen"
        />
    </div>
    <br />

    <style>
        .button {
            @apply cursor-pointer md:text-2xl mt-10 max-w-80 text-lg text-bg bg-primary min-w-80 py-3 text-center rounded-lg;
        }
        .bg {
            background-size: cover;
            background-repeat: no-repeat;
            background-attachment: fixed;
        }
        #logo {
            transition: all;
            animation: floating 5s linear infinite;
        }
        @keyframes floating {
            0% {
                translate: 0 1rem;
            }
            50% {
                translate: 0 -1rem;
            }
            100% {
                translate: 0 1rem;
            }
        }
    </style>
</div>
