<div
    class="md:h-[100vh] h-[70vh] w-auto items-start flex flex-col justify-between md:items-center relative"
>
    <img
        src="/logo_white.svg"
        alt=""
        srcset=""
        class="md:w-[80vw] w-full md:h-[60%] h-[40%] flex m-auto mt-36"
    />
    <p
        class="text-normal mx-2 md:text-xl text-center md:mx-[15%] m-auto font-semibold tracking-[0.15rem] text-white"
    >
        One Stop Solution for all your Marketing needs! Digital Ads, Website
        Development, Brand Awareness ??? Wegot you covered
    </p>

    <!-- <h1 class="text-[200px] text-center mt-10 text-white">MIST</h1> -->

    <div class="bg absolute -z-10">
        <video
            src="/mainBg.mp4"
            autoplay
            loop="true"
            class="opacity-40 h-screen"
        >
        </video>
    </div>
</div>
<br />

<style>
    .button {
        @apply cursor-pointer md:text-2xl mt-10 max-w-80 text-lg text-bg bg-primary min-w-80 py-3 text-center rounded-lg;
    }
    .bg {
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
    }
</style>
