---
import Socials from "./Socials.svelte";
---

<footer class="bg-secondary light:bg-blue-300">
    <div class="mx-auto w-full max-w-screen-xl p-4 py-6 lg:py-8">
        <div class="lg:flex lg:justify-between">
            <div class="mb-6 lg:mb-0">
                <a href="/" class="flex items-center">
                    <img
                        src="/logo_black.png"
                        class="w-[25%] me-3"
                        alt="Mist Media Marketing Logo"
                    />
                </a>
            </div>
            <div class="grid grid-cols-2 gap-8 sm:gap-6 sm:grid-cols-3">
                <div>
                    <h2 class="mb-6 text-sm font-semibold uppercase text-white">
                        Resources
                    </h2>
                    <ul class="text-gray-400 font-medium">
                        <li class="mb-4">
                            <a href="/" class="hover:underline">Home</a>
                        </li>
                        <li class="mb-4">
                            <a href="/contact" class="hover:underline"
                                >Contact Us</a
                            >
                        </li>

                        <li class="mb-4">
                            <a href="/#about" class="hover:underline"
                                >About us</a
                            >
                            <li class="mb-4">
                                <a href="/services" class="hover:underline"
                                    >Services</a
                                >
                            </li>
                        </li>
                    </ul>
                </div>
                <div>
                    <h2 class="mb-6 text-sm font-semibold uppercase text-white">
                        Top Services
                    </h2>
                    <ul class="text-gray-400 font-medium">
                        <li class="mb-4">
                            <a
                                href="/services/digital-marketing"
                                class="hover:underline"
                                >Digital Marketing
                            </a>
                        </li>
                        <li class="mb-4">
                            <a
                                href="/services/graphics-design"
                                class="hover:underline"
                                >Graphics Design
                            </a>
                        </li>
                        <li class="mb-4">
                            <a
                                href="/services/photography"
                                class="hover:underline"
                                >Photography
                            </a>
                        </li>

                        <li class="mb-4">
                            <a
                                href="/services/digital-pr"
                                class="hover:underline">Digital PR</a
                            >
                        </li>
                    </ul>
                </div>
                <div>
                    <h2 class="mb-6 text-sm font-semibold uppercase text-white">
                        Legal
                    </h2>
                    <ul class="text-gray-400 font-medium">
                        <li class="mb-4">
                            <a href="#" class="hover:underline"
                                >Privacy Policy</a
                            >
                        </li>
                        <li class="mb-4">
                            <a href="#" class="hover:underline"
                                >Terms &amp; Conditions</a
                            >
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <hr class="my-6 sm:mx-auto border-gray-700 lg:my-8" />
        <div class="sm:flex sm:items-center sm:justify-between">
            <span class="text-sm sm:text-center text-gray-400"
                >© 2024 <a href="https://flowbite.com/" class="hover:underline"
                    >Mist Media Agency</a
                >. All Rights Reserved.
            </span>
            ...
            <div class="flex mt-4 text-2xl sm:justify-center sm:mt-0">
                <Socials />
            </div>
        </div>
    </div>
</footer>
