---
import ServiceCard from "./util/ServiceCard.astro";
const services = await Astro.glob("../data/service/*.json");
// let services = [];
const { data } = Astro.props;
---

<h1
    class="bg-bg text-center text-primary px-5 font-semibold md:text-4xl p-2 text-3xl"
>
    Service We Offer
</h1>
<div class="p-2 overflow-auto bg-bg">
    <div class="overflow-x-scroll no-scrollbar">
        <div class="flex w-max bg-scroll">
            {
                services.map((el) => (
                    <ServiceCard
                        title={`${el.title} Service`}
                        description={el.desc.slice(0, 50)}
                        link={el.slag}
                    />
                ))
            }
        </div>
    </div>
</div>
