---
import ServiceCard from "./util/ServiceCard.astro";
---

<h1
    class="bg-bg text-center text-primary px-5 font-semibold md:text-4xl p-2 text-3xl"
>
    Service We Offer
</h1>
<div class="p-2 overflow-auto bg-bg">
    <div class="overflow-x-scroll no-scrollbar">
        <div class="flex w-max bg-scroll">
            {
                [1, 2, 3, 4, 5].map((el) => (
                    <ServiceCard
                        title={`Service ${el}`}
                        description="Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enimaccusamus adipisci earum voluptate quia quae voluptatem expeditaoptio voluptatum sapiente itaque omnis mollitia et necessitatibusinventore, corrupti iure dolorem! Voluptatibus, corrupti explicabo?"
                    />
                ))
            }
        </div>
    </div>
</div>
