---
import image from "../../public/Spacer1.jpg";
import { Image } from "astro:assets";
---

<div class="w-full h-auto relative">
    <div
        class="w-full h-80 absolute bg-gradient-to-b from-bg to-transparent z-20"
    >
    </div>
    <div class="left-0 right-0 w-full h-full opacity-20 absolute bg-bg -z-10">
    </div>
    <div class="imgBg">
        <Image src={image} alt="" />
    </div>
    <!-- <img
        src="/Spacer1.jpg"
        alt=""
        srcset=""
        class="h-screen md:w-screen md:h-auto -z-20 opacity-40"
    /> -->
    <div
        class="flex flex-col absolute top-[50%] items-center left-[50%] translate-x-[-50%] translate-y-[-50%]"
    >
        <h1
            class="md:text-[9rem] text-8xl text-center text-primary/80 decoration-from-font"
        >
            Hire Us
        </h1>
        <div class="button top-96 right-10 z-30">
            <a href="/contact">Contact Us</a>
        </div>
        <div class="button top-96 right-10 z-30">
            <a href="/services">Services</a>
        </div>
    </div>
    <div
        class="w-full md:h-64 h-32 bottom-0 absolute bg-gradient-to-t from-bg to-transparent z-20"
    >
    </div>

    <style>
        .button {
            @apply cursor-pointer md:text-2xl mt-10 max-w-80 text-lg text-bg bg-primary/90 min-w-80 py-3 text-center rounded-lg;
        }
        .imgBg {
            width: 100%;

            border: 2px solid white;
            background: #ccc;
            overflow: none;
            z-index: -102;
            opacity: 30%;
        }
    </style>
</div>
