---
import Image from "astro/components/Image.astro";
import imgPlaceholder from "../../assets/imagePlaceholder.svg";

const { data } = Astro.props;
---

<a
    href={"/services/" + data.slag}
    class="flex text-bg md:m-5 m-2 p-2 w-full flex-col items-center border-2 rounded-lg shadow md:flex-row md:max-w-6xl h-auto border-gray-700 bg-secondary hover:bg-bg/90"
>
    <img
        class="object-cover rounded-t-lg w-[60%] md:w-full md:max-w-40 min-w-20 md:h-auto md:rounded-none md:rounded-s-lg"
        src={"./src/assets/Main" + data.base_image}
        alt=""
    />
    <div class="flex w-full flex-col justify-between p-4 h-auto leading-normal">
        <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-100">
            {data.title}
        </h5>
        <p class="text-white">
            {data.description}
        </p>
        <button
            class="bg-primary w-fit m-auto px-[20%] my-10 text-bg p-2 rounded-lg"
        >
            Explore More</button
        >
    </div>
</a>
