---
interface Props {
	title: string;
}
import "../styles/base.css";
import Footer from "../components/Footer.astro";
const { title } = Astro.props;
export const prerender = true;
---

<head>
	<meta charset="UTF-8" />
	<meta name="description" content="Astro description" />
	<meta name="viewport" content="width=device-width" />
	<link rel="icon" href="/favicon.jpg" />
	<meta name="generator" content={Astro.generator} />
	<title>{title}</title>

	<!-- <link rel="preconnect" href="https://fonts.googleapis.com" />
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin /> -->
	<link
		href="https://fonts.googleapis.com/css?family=Montserrat"
		rel="stylesheet"
	/>
</head>
<body class="bg-bg">
	<slot />
	<Footer />
</body>
<script>
	localStorage.theme = "dark";
	document.documentElement.classList.add(localStorage.theme);
</script>
<style>
	body {
		font-family: "Montserrat";
	}
	html {
		scroll-behavior: smooth;
	}
</style>
